<ion-view view-title="My Loans">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in fileteredLoans = (loans | filter: filterLoans)" href="#/app/loans/{{item._id}}">
        <div class="row">
                <div class="col col-67">
                    <h1 class="title">{{item.item.name}}</h1>
                    {{item.updatedAt | date}}
                </div>
                <div class="col col-33">
                    <p class="{{item.state}}">{{item.state}}</p>
                </div>
        </div>
        <ion-option-button class="button-calm icon ion-log-out" ng-show="item.state=='Ongoing'"  ng-click="returnItem({{item}})"></ion-option-button>
      </ion-item>
    </ion-list>
    <div class="alert alert-danger" ng-show="fileteredLoans.length==0">You have no loans  or no loans matching the filter</div>    
  </ion-content>
  <ion-tabs>
    <ion-tab title="All" ng-click="showAll()"></ion-tab>
    <ion-tab title="Pending" ng-click="showPending()"></ion-tab>
    <ion-tab title="Ongoing" ng-click="showOngoing()"></ion-tab>
    <ion-tab title="Closed" ng-click="showClosed()"></ion-tab>
  </ion-tabs>
</ion-view>
